%h1
  Current iteration

%ul#story-list
  - @stories.each do |name, project|
    - project.each do |s|
      %li.story
        %span.handle 
        .text
          %span.project #{name}
          %span.name #{s.name}
