%h1 Login
%form{:method=>'post'}
  %fieldset
    %label{:for=>"apikey"} API key
    %input{:type=>"text", :name=>"apikey", :id=>"apikey"}
You need a pivotal tracker API key, you can find it in your
%a{:href=>"https://www.pivotaltracker.com/profile", :target=>'_blank'} profile
\.
%br/
