body {font-size:14px; font-family: arial, sans-serif;}
h1 {font-size: 200%; font-variant: small-caps; margin-left: 160px;}
h4 {font-weight: bold; font-variant: uppercase; padding-left: -6px;}
del { color: #777}

#container { width: 550px; margin: 20px auto;}
#stats { float:right; }
#footnotes { margin-left: 160px; font-size: 70%}

.story { margin: 5px 0 5px 155px ; line-height: 20px; padding: 5px;background: #eee; cursor: move; }
.done {display:none;}
.text {margin-left: 25px;}
.panel { margin: 0; font-weight: bold; padding: 2px; height: 100%; text-align: right; font-size: 12px; float:left; width: 150px; }
.details { display:none; }
span.id { font-weight: normal; font-size: 10px; }
span.story_type { display:block; height: 18px; margin-top : 2px; width: 18px; float:left; background-repeat:no-repeat}
li.feature span.story_type { background-image:url(feature_icon.png); }
li.bug span.story_type { background-image:url(bug_icon.png); }
li.chore span.story_type { background-image:url(chore_icon.png); }
li.release span.story_type { background-image:url(release_icon.png); }
li.release .story{ background: #407aa5; color: white; }
span.labels { color: #006633}
span.estimate { border: 1px solid #ddd; background: white; padding: 0 3px;}
span.description { font-size: 11px; line-height: normal; width: 45%; float:left;}
span.tasks { font-size: 11px; line-height: normal; width: 45%; float:left;}
span.tasks ol li { list-style: decimal inside none; font-size: 11px; }

li:first-child .story{ background: orange; }
li:first-child .done { display: block; float: right}
li:first-child .details { display: block; border-top: 1px solid white; padding: 2px;}
li:first-child .details em{ font-weight: bold;}

