/* tags */
body { font-family: helvetica, arial, sans-serif; font-size: 10pt;}
h1 { font-family: Lobster; font-size: 36pt; padding: 12pt 10pt; border-bottom: 1px solid #ddd}
p { line-height: 12pt; margin-top: 5pt;}
a {color: #D95604; }

/* form */
input {margin-left: 10pt;}
label { font-weight: bold; }

/* element with a class */
div.hint { color: #999; margin: 10pt 0 ; padding: 5pt 0; border-top: 1px solid #ddd}
/* element with ID */
#container { width: 600px; margin: 10pt auto; border-left: 1px solid #ddd}
#navigation { margin: 5pt 10pt; color: #ddd; font-weight: bold;}
#navigation a{ text-decoration: none; color: #777; font-weight: bold}
#navigation a:hover { color: #d95604}
#content { padding: 10pt}
